<div class="comments">
  {{#each this}}
    <div class="card">
        
        <section class="comment">
            <div class="text">
                {{text}}
            </div>
            <div >
                {{user.name}}, {{format_date created_at}}
            </div>
        </section>
    </div>
  {{/each}}
</div>